<%- include("../includes/head.ejs") %>

<link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <%- include("../includes/admin-nav.ejs") %>

    <div class="adminPage-container">
        <div class="adminPage-content">
            admin page
        </div>
    </div>
</body>
</html>