.main-container {
  padding-top: 12rem;
}

.login-form {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-control input {
  border: 4px solid #00695c;
  border-radius: 5px;
  height: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
  color: black;
}

.form-control input:focus {
  background-color: black;
  color: white;
  text-decoration: none;
  outline: none;
}

.btn {
  padding: 0.8rem;
  width: 15%;
  background-color: black;
  color: white;
  border: 2px solid #00695c;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  margin-top: 1rem;
}

.btn:hover {
  background-color: white;
  color: black;
}

.error-message {
  color: white;
  background-color: rgb(181, 104, 104);
  border: 2px solid rgb(204, 71, 71);
  padding: 1rem 2rem;
}

.succes-message {
  color: white;
  background-color: rgb(80, 189, 127);
  border: 2px solid rgb(41, 232, 16);
  padding: 1rem 2rem;
}

.error-message.check {
  margin-bottom: 1rem;
}

.flash-message-container {
  display: flex;
  width: 100%;
  padding-top: 6rem;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.forgot-password {
  color: rgb(0, 149, 246);
  cursor: pointer;
  margin-top: 3.5rem;
  text-align: center;
}

input.invalid {
  border-color: red;
}
