<%- include("../includes/head.ejs") %>

<link rel="stylesheet" href="/css/home.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <%- include("../includes/nav.ejs") %>

    <div class="home-container">

        <div class="video-container">
            <video loop muted autoplay  class="mp4Video">
                <source type="video/mp4" src="../../videos/shopping.mp4">
            </video>
        </div>

        <div class="top-right-image-container">
            <div class="image-box-shadow">
                <img class="top-right-image" src="../../img/image_processing20210527-11756-wcjbld.gif" alt="">
            </div>
        </div>
    </div>

    <div class="footer-container">

        <div class="footer-container-gradient">

            <div class="footer-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolorum nam esse ratione numquam dolor quos consequatur distinctio corrupti repudiandae hic, doloremque iure cumque, ipsa atque temporibus voluptatibus beatae debitis libero id nisi a asperiores neque! Porro unde delectus provident aperiam illo, minima cupiditate aliquam recusandae, labore, sed id ab?
                </p>
                
            </div>

            <div class="go-shop-button-container">
                <a class="go-shop-button" href="/shop">Go Shop</a>
            </div>

            <div class="created-by">
                <span class="created-by-text" >Created by Efe Karabulut</span>
            </div>

        </div>
        
    </div>
</body>
</html>