<%- include("../includes/head.ejs") %>
</head>

<body>
    <%- include("../includes/nav.ejs") %>
    <h1 class="not-found">Some errors occurred!</h1>
    <p class="not-foundP">Sorry for the error, we will fix it as soon as possible, please try again later!</p>
</body>

</html>